@import "tailwindcss";

/* https://typespiration.com/design/the-salt-lake/ */
/* https://coolors.co/e9d758-297373-ff8552-e6e6e6-39393a */

@theme {
  --font-pt-sans: "PT Sans", "sans-serif";
  --font-pt-sans-narrow: "PT Sans Narrow", "sans-serif";

  /* https://coolors.co/011627-ff0022-41ead4-fdfffc-b91372 */
  --color-background: var(--color-stone-300);

  --rich-black: #011627;
  --red-cmyk: #ff0022;
  --bright-turquoise: #41ead4;
  --baby-powder: #fdfffc;
  --red-violet: #b91372;

  --color-red-violet-50: #fdf2fa;
  --color-red-violet-100: #fde6f7;
  --color-red-violet-200: #fcceef;
  --color-red-violet-300: #fba6e1;
  --color-red-violet-400: #f76fcb;
  --color-red-violet-500: #f044b4;
  --color-red-violet-600: #df2394;
  --color-red-violet-700: #b91372; /* red-violet */
  --color-red-violet-800: #a01462;
  --color-red-violet-900: #861554;
  --color-red-violet-950: #520530;
}
