@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/ptsansnarrow/PTSansNarrow-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/ptsansnarrow/PTSansNarrow-Bold.ttf) format("ttf");
}
