<% content_for :title, "Bookmarks" %>
<div class="w-full font-pt-sans">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-pt-sans font-bold text-4xl">Bookmarks</h1>
    <%= primary_link_to "New bookmark", new_bookmark_path %>
  </div>
  <div id="bookmarks" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @bookmarks.any? %>
      <% @bookmarks.each do |bookmark| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render "bookmark_small", bookmark: bookmark %>
          <%# <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2"> %>
          <%#= primary_link_to "Show", bookmark %>
          <%#= default_link_to "Edit", edit_bookmark_path(bookmark) %>
          <%#= danger_button_to "Destroy", bookmark, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
          <%# </div> %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No bookmarks found.</p>
    <% end %>
  </div>
</div>
