<div>
  <h1 class="font-extrabold text-4xl font-pt-sans">Startonaut</h1>
  <p class="font-pt-sans-narrow">Welcome to the new start page for Internauts.</p>
  <%= link_to "Login", new_session_path, class: "text-blue-500 font-pt-sans-narrow hover:underline" %>
  <%= link_to "Sign Up", new_registration_path, class: "text-blue-500 font-pt-sans-narrow hover:underline" %>
</div>
