<div class="w-full mb-6">
  <h2 class="font-semibold text-2xl mb-4 mr-6"><%= local_assigns[:title] %></h2>
  <div class="flex flex-row flex-wrap gap-2 items-center">
    <div role="list" class="mx-auto mt-5 gap-x-8 gap-y-16 text-center max-w-2xl grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
      <% bookmarks.each do |bookmark| %>
        <%= render "bookmarks/bookmark_icon", bookmark: bookmark %>
      <% end %>
    </div>
  </div>
</div>