<div id="<%= dom_id page %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= page.user_id %>
  </div>
  <div class="page-title">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= page.title %>
  </div>
  <div class="page-description">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= page.description %>
  </div>
</div>
