@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('pt-sans/PTSans-Italic.ttf');
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('pt-sans/PTSans-BoldItalic.ttf');
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('pt-sans/PTSans-Regular.ttf');
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('pt-sans/PTSans-Bold.ttf');
}
